//color
$dd-more-bg: rgb(24, 24, 24);
$light-gray: rgb(55, 55, 55);
$blue: #0084d0;
$color: rgb(68, 16, 255);
$error-orange: rgba(255, 100, 16, 0.71);
$main-bg: rgb(17, 17, 17);
$footer-bg: rgb(28, 28, 28);
$header-bg: rgb(28, 28, 28);
$lighter-gray: #636363;
$lightest-gray: #b4b4b4;
$header-bg: rgb(28, 28, 28);
$hover-orange: #f8cb80;


//blur
$lighter-gray-blur-2x: rgba(99, 99, 99, 0.3);
$header-bg-blur: rgba(28, 28, 28, 0.60);
$lighter-gray-blur: rgba(99, 99, 99, 0.63);
$white-blur: rgba(234, 234, 234, 0.1);
$darker-blue: #006096;
$darker-blue-blur: rgba(0, 96, 150, 0.8);
$stream-banner-bg: rgba(28, 28, 28, 0.5);
$stream-banner-bg-blur: rgba(28, 28, 28, 0.2);
$light-gray-blur: rgba(55, 55, 55, 0.63);
$color-blur: rgba(68, 16, 255, 0.63);


//hover
$blue-hover: rgba(0, 132, 208, 0.40);
$hover-orange: #f8cb80;
$color-hover: rgb(21, 21, 21);
$hover-orange: #f8cb80;


//effects & animations
$black-shadow: 0px 0px 10px 1px rgba(10, 10, 10, 0.36);
$black-shadow-2: 0px 0px 43px -9px rgba(28,28,28,0.5);
$black-shadow-inset: 0px 0px 43px -9px rgba(28,28,28,0.5) inset;
$color-shadow: 0px 0px 10px 1px rgba(255, 100, 16, 0.25);
$trans: all .4s ease-in-out;


//size
$user-pp-size: 40px;
$logo-size: 40px;
$width: 60%;
$cat-title-size: 22px;
$aside-width: 220px;
$footer-height: 300px;
$header-height: 70px;


