$logo-size: 40px;
$width: 60%;
$header-bg: rgb(28, 28, 28);
$hover-orange: #f8cb80;
$user-pp-size: 40px;
$dd-more-bg: rgb(24, 24, 24);
$light-gray: rgb(55, 55, 55);
$trans: all .4s ease-in-out;
$cat-title-size: 22px;
$eye-catcher-margin: 5px;
$eye-catcher-margin-1400: 10px;
$eye-catcher-margin-1080: 20px;
$eye-catcher-height: 156px;
$eye-catcher-height-1400: 230px;
$eye-catcher-height-1080: 410px;
$lighter-gray: #636363;
$header-bg-blur: rgba(28, 28, 28, 0.60);
$lighter-gray-blur: rgba(99, 99, 99, 0.63);
$white-blur: rgba(234, 234, 234, 0.1);
$lighter-gray-blur-2x: rgba(99, 99, 99, 0.3);
$black-shadow: 0px 0px 10px 1px rgba(10, 10, 10, 0.36);
$orange-shadow: 0px 0px 10px 1px rgba(255, 100, 16, 0.25);
$blue: #0084d0;
$darker-blue: #006096;
$darker-blue-blur: rgba(0, 96, 150, 0.8);
$blue-hover: rgba(0, 132, 208, 0.40);
$stream-banner-bg: rgba(28, 28, 28, 0.5);
$stream-banner-bg-blur: rgba(28, 28, 28, 0.2);
$light-gray-blur: rgba(55, 55, 55, 0.63);
$orange: rgb(68, 16, 255);
$orange-blur: rgba(68, 16, 255, 0.63);
$hover-orange: #f8cb80;
$orange-hover: rgb(21, 21, 21);
$hover-orange: #f8cb80;
$aside-width: 220px;
$error-orange: rgba(255, 100, 16, 0.71);
$main-bg: rgb(17, 17, 17);
$footer-height: 300px;
$footer-bg: rgb(28, 28, 28);
$header-bg: rgb(28, 28, 28);
$header-height: 70px;