$main-bg: rgb(17, 17, 17);
$dd-padding: 3vw;
$dd-width: 100vw - (2 * $dd-padding);
$dd-el-padding: 0.6em;
$dd-el-width: $dd-width - (2 * $dd-padding);
$footer-height: 300px;
$footer-bg: rgb(28, 28, 28);
$header-height: 70px;
$orange: rgb(255, 100, 16);
$logo-size: 40px;
$width: 60%;
$header-bg: rgb(28, 28, 28);
$hover-orange: #f8cb80;
$user-pp-size: 40px;
$dd-more-bg: rgb(24, 24, 24);
$light-gray: rgb(55, 55, 55);
$trans: all .4s ease-in-out;
$cat-title-size: 22px;
$eye-catcher-margin: 5px;
$eye-catcher-margin-1400: 10px;
$eye-catcher-margin-1080: 20px;
$eye-catcher-height: 156px;
$eye-catcher-height-1400: 230px;
$eye-catcher-height-1080: 410px;
$lighter-gray: #636363;
$black-shadow: 0px 0px 10px 1px rgba(10, 10, 10, 0.36);
$orange-shadow: 0px 0px 10px 1px rgba(255, 100, 16, 0.25);


.agb-main {
  color: white;
  margin-top: 100px;
  margin-bottom: 200px;

  .page-title {
    font-size: 40px;
  }

  .agb-el {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .start-date {
    margin-bottom: 10px;
  }

  .agb-title {
    font-size: 24px;
    margin: 20px 0;
  }
}