@use "variables" as *;


main.account-main {
  color: white;


  article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px 0 100px 0;

    a {
      display: grid;
      grid-template-columns: 1fr 7fr;
      margin: 10px 20px;
      border-radius: 5px;
      padding: 10px;

      &:hover {
        background: $header-bg;
      }

      .icon {
        width: 90px;
        aspect-ratio: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;

        i {
          color: $orange;
          zoom: 3.5;
          margin: 0;

        }
      }

      .text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        .title {

          color: white;
          font-size: 30px;
        }

        .description {
          color: $lighter-gray;
        }
      }

    }
  }


  .page-title {
    margin-top: 30px;
    font-size: 50px;
  }
}