$main-bg: rgb(17, 17, 17);
$dd-padding: 3vw;
$dd-width: 100vw - (2 * $dd-padding);
$dd-el-padding: 0.6em;
$dd-el-width: $dd-width - (2 * $dd-padding);
$footer-height: 300px;
$footer-bg: rgb(28, 28, 28);
$header-height: 70px;
$orange: rgb(255, 100, 16);
$error-orange: rgba(255, 100, 16, 0.71);
$logo-size: 40px;
$width: 60%;
$header-bg: rgb(28, 28, 28);
$hover-orange: #f8cb80;
$user-pp-size: 40px;
$dd-more-bg: rgb(24, 24, 24);
$light-gray: rgb(55, 55, 55);
$trans: all .4s ease-in-out;
$cat-title-size: 22px;
$eye-catcher-margin: 5px;
$eye-catcher-margin-1400: 10px;
$eye-catcher-margin-1080: 20px;
$eye-catcher-height: 156px;
$eye-catcher-height-1400: 230px;
$eye-catcher-height-1080: 410px;
$lighter-gray: #636363;
$aside-width: 220px;
$blue: #0084d0;
$darker-blue: #006096;
$blue-hover: rgba(0, 132, 208, 0.62);
$black-shadow: 0px 0px 10px 1px rgba(10, 10, 10, 0.36);
$orange-shadow: 0px 0px 10px 1px rgba(255, 100, 16, 0.25);

.admin-main {
  width: 100%;

  #admin-main-div {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;

    article {
      width: 100%;
      height: 100%;
      margin: 30px 30px 0 30px;

      &#settings-article {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        //grid-auto-rows: auto;
        grid-template-rows: 1fr 1fr 1fr 1fr ;

        .switch {
          margin-top: 5px;
        }

        .setting-el {
          display: grid;
          grid-template-rows: 1fr 3fr 1fr;
          color: white;
          margin: 5px;
          border-radius: 5px;
          padding: 10px;
          background: $header-bg;

          .setting-title {
            font-weight: bold;
            margin-bottom: 10px;
          }

          .setting-desc {
            color: $lighter-gray;
          }

          .checkbox-wrapper-64 {
            justify-content: center;
            span.sel {
              font-weight: bold;
              margin: 5px;
            }
          }
        }
      }

      label {
        font-weight: bold;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 20px;

        input, select, option, textarea {
          height: 30px;
          width: 200px;
          border-radius: 5px;
          background: none;
          box-shadow: none;
          outline: none;
          border-color: transparent transparent black transparent;
          color: white;


          &:focus-visible {
            outline: none;
            border-bottom: $orange solid 2px;
          }

          &::placeholder {
            color: rgba(255, 255, 255, 0.51);
          }
        }
      }

      &.user-article {

        .user {
          //background: rgba(255, 0, 0, 0.15);
          width: 100%;
          height: 100%;
          color: white;
          display: flex;
          align-items: flex-start;
          flex-direction: column;

          .btns {
            width: 100%;
            display: flex;
            justify-content: space-between;

            .user-btn {
              font-weight: bold;
              height: 50px;
              display: flex;
              align-items: center;
              justify-content: center;
              background: $orange;
              border-radius: 5px;
              min-width: 50px;
              cursor: pointer;
              transition: $trans;

              &:hover {
                background: $light_gray;
              }
            }
          }


          .user-list {
            margin: 50px 0 100px 0;
            height: 100%;
            width: 100%;

            .user-list-el-header {
              span {
                font-weight: bold;
              }
            }

            .user-list-el-header, .user-list-el {
              border-radius: 5px;
              width: 100%;
              height: 50px;
              display: grid;
              grid-template-columns: 1fr 3fr 3fr 4fr 1fr 1fr 1fr;
              margin-top: 10px;


              span {
                padding: 0 5px;

                &.user-list-el-id {
                  padding: 0 15px;
                }

                display: flex;
                align-items: center;

                a {
                  color: white;
                }

                i {
                  zoom: 1.3;

                  &.IsAdmin {
                    color: green;
                  }

                  &.IsNotAdmin {
                    color: red;
                  }
                }

                &.user-list-btn-placeholder {
                  display: flex;
                  justify-content: center;

                  .user-list-btn {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 30px;
                    border-radius: 5px;
                    padding: 0 10px;
                    cursor: pointer;
                    transition: $trans;
                    width: 100%;

                    &.del-btn {
                      background: $orange;
                    }

                    &.edit-btn {
                      background: $main-bg;

                    }

                    &:hover {
                      background: $header-bg;
                    }
                  }
                }
              }
            }

            .user-list-el {
              background: $light-gray;
            }
          }
        }
      }

      &.upload-article {
        .link-div {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;

          div {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;

            .create-btn {
              display: flex;
              background: $orange;
              color: white;
              margin: 10px 0;
              border-radius: 5px;
              padding: 10px;
              font-size: 18px;
              font-weight: bold;
              justify-self: flex-end;
              transition: $trans;
              cursor: pointer;

              &:hover {
                background: $lighter-gray;
              }
            }
          }
        }
      }
    }

    aside {
      width: $aside-width;
      height: 100%;
      background: $header-bg;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      a {
        padding-left: 20px;
        display: flex;
        align-items: center;
        height: 35px;
        color: white;
        width: $aside-width - 20px;

        &:hover {
          background: $dd-more-bg !important;
        }

        .icon-container {
          width: 35px;
          display: flex;
          align-items: center;
          justify-content: center;

          i {
            display: flex;
            align-items: center;
          }
        }


        &.current-admin {
          color: $orange;
          background: $light-gray;
        }

        &:hover {
          color: $orange;
        }
      }

    }

    #error-messages {
      position: fixed;
      left: 10px;
      bottom: 10px;
      z-index: 1;
      display: flex;
      flex-direction: column;

      .error-msg-el {
        margin-top: 10px;
        border-radius: 5px;
        background: $error-orange;
        padding: 10px;
        color: white;
        display: flex;
        flex-direction: row;
        width: $aside-width - 40px;
        justify-content: space-between;

        i {
          cursor: pointer;
        }

        .error-code {
          font-weight: bold;
        }

        div {
          display: flex;
          flex-direction: column;
        }
      }


    }
  }
}

#upload-main {
  display: flex;
  align-items: center;
  flex-direction: column;

  input[type="text"], input[type="number"], input[list] {
    height: 30px;
    width: 200px;
    border-radius: 5px;
    background: none;
    box-shadow: none;
    outline: none;
    border-color: transparent transparent black transparent;
    color: white;

    &:focus-visible {
      outline: none;
      border-bottom: $orange solid 2px;
    }

    &::placeholder {
      color: rgba(255, 255, 255, 0.51);
    }
  }

  textarea {
    border-radius: 5px;
    background: none;
    box-shadow: none;
    outline: none;
    border-width: 2px;
    border-color: rgb(84, 84, 84);
    color: white;

    &:focus-visible {
      outline: none;
      border: $orange solid 2px;
    }

    &::placeholder {
      color: rgba(255, 255, 255, 0.51);
    }
  }

  .upload-form {
    display: flex;
    max-width: 350px;
    padding: 20px;
    flex-flow: column;
    margin: 100px auto 15px auto;
    background-color: rgb(28, 28, 28);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);

    .result {
      color: white;
      font-weight: bold;
    }
  }

  .upload-form h1 {
    margin: 0;
    padding: 15px;
    font-size: 18px;
    font-weight: 500;
    color: #434850;
    text-align: center;
  }

  .upload-form label[for="files"] {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: $main-bg;
    border: 2px solid $dd-more-bg;
    color: #fff;
    padding: 10px 12px;
    font-weight: 500;
    font-size: 14px;
    margin: 10px 0;
    border-radius: 4px;
    cursor: pointer;
  }

  .upload-form label {
    color: white;
    //font-weight: bold;
    display: flex;
    justify-content: space-between !important;
    align-items: center;
    flex-direction: row;

    span {
      font-size: 14px;
      width: 100px;
    }
  }


  .drop-area.dragover {
    border-color: $blue !important;
    background: $blue-hover !important;
    transition: $trans;
  }

  .upload-form label i {
    margin-right: 10px;
    padding: 5px 0;
    color: #dbdce0;
  }

  .upload-form label span {
    word-break: break-all;
  }

  .upload-form label[for="files"]:hover {
    background: $orange;
    border: 2px solid $dd-more-bg;
    color: white;
    transition: $trans;
  }

  .upload-form label:hover i {
    color: #cfd1d4;
  }

  .upload-form input[type="file"] {
    appearance: none;
    visibility: hidden;
    height: 0;
    width: 0;
    padding: 0;
    margin: 0;
  }

  .upload-form .progress {
    height: 20px;
    border-radius: 4px;
    margin: 10px 0;
    background-color: #e6e8ec;
  }

  .upload-form button, .cancel {
    appearance: none;
    background-color: rgb(255, 100, 16);
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    border: 0;
    padding: 10px 12px;
    margin-top: 10px;
    color: #fff;
    cursor: pointer;

    &:hover {
      box-shadow: $black-shadow;
    }
  }

  .cancel {
    background: $main-bg;
    text-align: center;
    transition: $trans;

    &:hover {
      background: $light-gray;
    }
  }

  .upload-form button:hover {
    background-color: rgb(255, 100, 16);
  }

  .upload-form button:disabled {
    background-color: #aca7a5;
  }

  .upload-form .result {
    padding-top: 15px;
  }
}

#image-preview {
  border-radius: 5px;
  display: none;
  align-self: center
}




