@use "variables" as *;


#all-series-main {
  color: white;

  #all-search-input {
    height: 24px;
    font-size: 18px;
    width: 1150px;
    margin-bottom: 20px;
    border-radius: 5px;
    background: none;
    box-shadow: none;
    outline: none;
    border-color: transparent transparent black transparent;
    color: white;
    border-bottom: $light-gray solid 4px;
  }

  #all-series-list {
    display: flex;
    flex-direction: column;


    .letter {
      display: flex;
      flex-direction: column;
      margin: 0 10px;

      &:last-child {
        margin-bottom: 200px;
      }

      div {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
      }

      h2 {
        color: $orange;
        display: block;
        clear: both;
        width: 100%;
        margin: 10px 0;
        padding: 0;
        border-bottom: 3px $lighter-gray solid;
      }

      .result-item {
        color: white;
        display: flex;
        flex-direction: column;

        &:hover {
          color: $orange;
        }
      }
    }
  }


  diicon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;

    i {
      scale: 1.1;
    }
  }
}

#search-input {
  font-size: 18px;
  height: 30px;
}


.page-title {
  margin: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 50px;
  color: white;

  a {
    display: flex;
    align-items: center;
    color: white;
    font-size: 18px;
    height: 20px;
    border-radius: 5px;
    background: $orange;
    font-weight: bold;
    padding: 10px;

    &:hover {
      background: $lighter-gray;
    }
  }
}