$main-bg: rgb(17, 17, 17);
$dd-padding: 3vw;
$dd-width: 100vw - (2 * $dd-padding);
$dd-el-padding: 0.6em;
$dd-el-width: $dd-width - (2 * $dd-padding);
$footer-height: 300px;
$footer-bg: rgb(28, 28, 28);
$header-height: 70px;
$orange: rgb(255, 100, 16);
$logo-size: 40px;
$width: 60%;
$header-bg: rgb(28, 28, 28);
$hover-orange: #f8cb80;
$user-pp-size: 40px;
$dd-more-bg: rgb(24, 24, 24);
$light-gray: rgb(55, 55, 55);
$trans: all .4s ease-in-out;
$cat-title-size: 22px;
$eye-catcher-margin: 5px;
$eye-catcher-margin-1400: 10px;
$eye-catcher-margin-1080: 20px;
$eye-catcher-height: 156px;
$eye-catcher-height-1400: 230px;
$eye-catcher-height-1080: 410px;
$lighter-gray: #636363;
$black-shadow: 0px 0px 10px 1px rgba(10, 10, 10, 0.36);
$orange-shadow: 0px 0px 10px 1px rgba(255, 100, 16, 0.25);

#all-series-main {
  color: white;

  #all-series-list {
    display: flex;
    flex-direction: column;

    .letter {
      display: flex;
      flex-direction: column;
      margin: 0 10px;

      div {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
      }

      h2 {
        color: $orange;
        display: block;
        clear: both;
        width: 100%;
        margin: 10px 0;
        padding: 0;
        border-bottom: 3px $lighter-gray solid;
      }

      .result-item {
        color: white;
        display: flex;
        flex-direction: column;

        &:hover {
          color: $orange;
        }
      }
    }
  }


  div.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;

    i {
      scale: 1.1;
    }
  }
}

#search-input {
  font-size: 18px;
  height: 30px;
}



.page-title {
  margin: 30px 0;
  display: flex;
  justify-content: space-between;
  font-size: 50px;
  color: white;

  a {
    display: flex;
    align-items: center;
    color: white;
    font-size: 18px;
    height: 20px;
    border-radius: 5px;
    background: $orange;
    font-weight: bold;
    padding: 10px;

    &:hover {
      background: $lighter-gray;
    }
  }
}