$main-bg: rgb(17, 17, 17);
$dd-padding: 3vw;
$dd-width: 100vw - (2 * $dd-padding);
$dd-el-padding: 0.6em;
$dd-el-width: $dd-width - (2 * $dd-padding);
$footer-height: 300px;
$footer-bg: rgb(28, 28, 28);
$header-height: 70px;
$orange: rgb(255, 100, 16);
$logo-size: 40px;
$width: 60%;
$header-bg: rgb(28, 28, 28);
$hover-orange: #f8cb80;
$user-pp-size: 40px;
$dd-more-bg: rgb(24, 24, 24);
$light-gray: rgb(55, 55, 55);
$trans: all .4s ease-in-out;
$cat-title-size: 22px;
$eye-catcher-margin: 5px;
$eye-catcher-margin-1400: 3px;
$eye-catcher-margin-1080: 7px;
$eye-catcher-height: 134px;
$eye-catcher-height-1400: 119px;
$eye-catcher-height-1080: 210px;
$lighter-gray: #636363;
$black-shadow: 0px 0px 10px 1px rgba(10, 10, 10, 0.36);
$orange-shadow: 0px 0px 10px 1px rgba(255, 100, 16, 0.25);

main.errorpage {
  display: flex;
  align-items: center;
  justify-content: center;

  article {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px 30px 30px;
    border-radius: 10px;
    background: $dd-more-bg;

    * {
      margin-top: 20px;
    }

    .error-text {
      color: $lighter-gray;

      a {
        margin: 0;
        color: $light-gray;

        &:hover {
          color: $orange;
        }
      }
    }

    .error-num {
      color: $orange;
      font-size: 50px;
      font-weight: bold;
    }

    .error-btns {
      .error-btn {
        background: $orange;
        border-radius: 5px;
        height: 20px;
        color: white;
        padding: 10px 20px;
        cursor: pointer;

        &:hover {
          transition: $trans;
          background: $light-gray;
        }
      }
    }
  }

}