@use "variables" as *;


footer {
  flex-shrink: 0;
  width: 100%;
  min-height: $footer-height;
  background-color: $footer-bg;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-top: auto;

  .wrapper {
    display: flex;
    flex-wrap: wrap;

    .footer-el {
      margin: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;


      .footer-el-title {
        color: $light-gray;
        font-weight: bold;
        font-size: 22px;
        margin-bottom: 20px;
      }

      .footer-el-item {
        color: $lighter-gray;
        margin-bottom: 10px;

        &:hover {
          color: $color;
        }
      }
    }
  }

  .copyright {
    color: $light-gray;
    margin: 20px;

    a {
      color: $lighter-gray;
      &:hover {
        color: $color;
      }
    }
  }
}
//@media screen and (max-width: 1080px) {
//  footer {
//   min-height: $footer-height + 150px;
//  }
//
//  .copyright {
//    display: flex;
//    align-items: center;
//    flex-direction: column;
//  }
//}



