$main-bg: rgb(17, 17, 17);
$dd-padding: 3vw;
$dd-width: 100vw - (2 * $dd-padding);
$dd-el-padding: 0.6em;
$dd-el-width: $dd-width - (2 * $dd-padding);
$footer-height: 300px;
$footer-bg: rgb(28, 28, 28);
$header-height: 70px;
$orange: rgb(255, 100, 16);
$logo-size: 40px;
$width: 60%;
$header-bg: rgb(28, 28, 28);
$hover-orange: #f8cb80;
$user-pp-size: 40px;
$dd-more-bg: rgb(24, 24, 24);
$light-gray: rgb(55, 55, 55);
$trans: all .4s ease-in-out;
$cat-title-size: 22px;
$eye-catcher-margin: 5px;
$eye-catcher-margin-1400: 3px;
$eye-catcher-margin-1080: 7px;
$eye-catcher-height: 134px;
$eye-catcher-height-1400: 119px;
$eye-catcher-height-1080: 210px;
$lighter-gray: #636363;
$black-shadow: 0px 0px 10px 1px rgba(10, 10, 10, 0.36);
$orange-shadow: 0px 0px 10px 1px rgba(255, 100, 16, 0.25);

.eye-catcher {
  display: flex;
  align-items: center;

  .eye-wr {
    display: flex;
  }

  .eye-wrapper-wrapper {
    display: flex;
  }

  .eye-wrapper {
    width: 100%;
    display: flex;
    align-content: flex-start;
    flex-direction: column;

    .eye-catcher-el {
      border-radius: 15px;
      margin: $eye-catcher-margin;
      background-position: center;
      background-size: cover;
      background-image: url("/dist/img/testcover.jpg");
      display: flex;
      align-items: flex-end;
      cursor: pointer;
      //&:hover {
      //
      //  animation: zoom-in-zoom-out .5s ease forwards;
      //}


      span {
        color: white;
        font-weight: bold;
        text-shadow: 2px 2px 3px black;
        margin-left: 7px;
        margin-bottom: 7px;

      }
    }
  }
}

.eye-el-1x1 {
  height: $eye-catcher-height;
  width: $eye-catcher-height;
}

.eye-el-1x2 {
  height: $eye-catcher-height;
  width: 2 * $eye-catcher-height + 2 * $eye-catcher-margin;
}

.eye-el-2x2 {
  width: 2 * $eye-catcher-height + 2 * $eye-catcher-margin;
  height: 2 * $eye-catcher-height + 2 * $eye-catcher-margin;
}


//@media (max-width: 1400px) {
//  .eye-catcher-el {
//    margin: $eye-catcher-margin-1400 !important;
//  }
//  //
//  //.eye-catcher {
//  //  display: flex;
//  //  flex-direction: column;
//  //}
//
//  .eye-el-1x1 {
//    height: $eye-catcher-height-1400;
//    width: $eye-catcher-height-1400;
//  }
//
//  .eye-el-1x2 {
//    height: $eye-catcher-height-1400;
//    width: 2 * $eye-catcher-height-1400 + 2 * $eye-catcher-margin-1400;
//  }
//
//  .eye-el-2x2 {
//    width: 2 * $eye-catcher-height-1400 + 2 * $eye-catcher-margin-1400;
//    height: 2 * $eye-catcher-height-1400 + 2 * $eye-catcher-margin-1400;
//  }
//
//
//}
//
//@media (max-width: 1080px) {
//
//  .eye-catcher-el {
//    margin: $eye-catcher-margin-1080 !important;
//  }
//
//  .eye-catcher {
//    display: flex;
//    flex-direction: column;
//  }
//  //.eye-wr {
//  // display: flex;
//  //  flex-direction: column;
//  //}
//
//  .eye-el-1x1 {
//    height: $eye-catcher-height-1080;
//    width: $eye-catcher-height-1080;
//  }
//
//  .eye-el-1x2 {
//    height: $eye-catcher-height-1080;
//    width: 2 * $eye-catcher-height-1080 + 2 * $eye-catcher-margin-1080;
//  }
//
//  .eye-el-2x2 {
//    width: 2 * $eye-catcher-height-1080 + 2 * $eye-catcher-margin-1080;
//    height: 2 * $eye-catcher-height-1080 + 2 * $eye-catcher-margin-1080;
//  }
//
//  .home-el-title {
//    font-size: $cat-title-size + 30px !important;
//
//    .home-el-all {
//      font-size: $cat-title-size !important;
//    }
//  }
//
//  img {
//    &.cover {
//      width: 280px !important;
//    }
//  }
//  .cover-title {
//    font-size: $cat-title-size;
//  }
//}


.home-cat-parent {

  .home-el-title {
    color: white;
    font-weight: bold;
    font-size: $cat-title-size;
    margin: 50px 10px 0px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .home-el-all {
      color: white;
      padding: 5px;
      border-radius: 5px;
      background: $orange;
      font-size: $cat-title-size / 1.8;
      cursor: pointer;
      margin-left: 10px;

      &:hover {
        background: $dd-more-bg;
        color: $orange;
      }
    }
  }

  .home-cat {
    cursor: pointer;
    display: flex;
    //justify-content: space-between;
    align-content: flex-start;

    &#home-cat-3 {
      margin-bottom: 300px;
    }

    .home-el {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin: 7px;
      position: relative;

      &:hover {
        animation: zoom-in-zoom-out .4s ease forwards;
      }

      .cover-title {
        color: white;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        font-size: 16px;

      }

      img {
        margin: 0 0 5px 0;
        width: 150px;
        z-index: 1;
        border-radius: 5px;
        overflow: hidden;
        transition: $trans;

        &:hover {
        scale: 1.06;
        }
      }
    }
  }
}
