.down-arrow {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 22px;
  height: 22px;
  border: 2px solid transparent;
  border-radius: 100px
}

.down-arrow::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid;
  border-right: 2px solid;
  transform: rotate(45deg);
  left: 4px;
  top: 2px
}

.gg-play-button-o {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 22px;
  height: 22px;
  border: 2px solid;
  border-radius: 20px
}

.gg-play-button-o::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 0;
  height: 10px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 6px solid;
  top: 4px;
  left: 7px
}

.gg-align-bottom {
  box-sizing: border-box;
  position: relative;
  display: block;
  height: 12px;
  width: 12px;
  border-bottom: 2px solid;
  transform: scale(var(--ggs,1));
  margin-top: 4px
}

.gg-align-bottom::after,
.gg-align-bottom::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 4px;
  background: currentColor;
  bottom: 2px
}

.gg-align-bottom::before {
  left: 1px;
  height: 12px
}

.gg-align-bottom::after {
  height: 6px;
  right: 1px;
  opacity: .5
}