@import "footer";
@import "header";
@import "icons";

$main-bg: rgb(17, 17, 17);

* {
  font-family: Arial;
}

a {
  text-decoration: none;
  transition: all .25s ease-in;
}

html {
  margin: 0;
  height: 100%;

  body {
    background-color: $main-bg;
    flex: 0 1 auto;
    margin: 0;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    flex-direction: column;

    main {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 80%;
      background-color: rgba(255, 0, 0, 0.13);

      .quick-search {
        margin: 5px;
        display: flex;
        flex-wrap: wrap;

        .quick-search-el {
          background-color: $orange;
          margin: 3px;
          min-height: 26px;
          min-width: 27px;
          display: flex;
          align-items: center;
          justify-content: center;

          a {
            color: white;
            font-weight: bold;

          }

        }

      }

    }
  }
}

