@import "footer";
@import "header";
@import "icons";

$main-bg: rgb(14,14,14);

* {
  font-family: Arial;
}
a {
  text-decoration: none;
  transition: all .25s ease-in;
}
html {
  body {
    background-color: $main-bg;
    main{
      display: flex;
      flex-direction: column;
      height: 100%;
    }
    flex: 1;
    margin: 0;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  margin: 0;
  height: 100%;
}

