@use "variables" as *;



.profile-main {
  color: white;

  article {

    &#watch {
      margin-bottom: 200px;
    }

    &.banner {
      margin: 50px 0;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      padding: 20px;
      background: $header-bg;
      border-radius: 5px;

      .p-picture {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        img {
          margin: 10px;
          height: 150px;
          border-radius: 10000px;
        }

        .name {
          font-size: 24px;
          margin-bottom: 5px;
        }

        .watched {
          font-weight: bold;
          color: white;

          span {
            color: $color;
          }
        }
      }

      .info {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;

        span, a {
          margin: 5px 0;
          display: flex;
          align-items: center;


          &.Watchlist {
            font-weight: bold;
            text-decoration: none;
          }


          .watchlist-nth {
            color: $color;
          }

          .icon {
            height: 30px;
            aspect-ratio: 1;
            margin-right: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $color;
          }

          i {
            zoom: 1.3;
          }
        }

        a {
          color: white;
          text-decoration: underline;
        }

        .link {

          a {
            color: white;
            text-decoration: underline;

            &:hover {
              color: $color;
              text-decoration: none;
            }
          }
        }
      }

      .bio {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .admin {
          color: $color;
        }

        .bio-text {
          text-align: left;
          width: 100%;

        }
      }

    }
  }
}