$main-bg: rgb(17, 17, 17);
$dd-padding: 3vw;
$dd-width: 100vw - (2 * $dd-padding);
$dd-el-padding: 0.6em;
$dd-el-width: $dd-width - (2 * $dd-padding);
$footer-height: 300px;
$footer-bg: rgb(28, 28, 28);
$header-height: 70px;
$orange: rgb(255, 100, 16);
$logo-size: 40px;
$width: 60%;
$header-bg: rgb(28, 28, 28);
$hover-orange: #f8cb80;
$user-pp-size: 40px;
$dd-more-bg: rgb(24, 24, 24);
$light-gray: rgb(55, 55, 55);
$trans: all .4s ease-in-out;
$cat-title-size: 22px;
$eye-catcher-margin: 5px;
$eye-catcher-margin-1400: 10px;
$eye-catcher-margin-1080: 20px;
$eye-catcher-height: 156px;
$eye-catcher-height-1400: 230px;
$eye-catcher-height-1080: 410px;
$lighter-gray: #636363;
$black-shadow: 0px 0px 10px 1px rgba(10, 10, 10, 0.36);
$orange-shadow: 0px 0px 10px 1px rgba(255, 100, 16, 0.25);

#stream-main {
  color: white;

  .stream-banner {
    margin: 50px 0;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    background: $header-bg;
    border-radius: 5px;

    & > div {
      margin: 10px;
      display: flex;
      flex-direction: column;

      &:first-child {
        align-items: center;
        img {
          height: 300px;
          width: 200px;
          border-radius: 5px;
          box-shadow: $black-shadow;
        }

      }

      &:nth-child(2) {
        align-items: flex-start;

        .series-title {
          font-size: 24px;
        }

        .series-desc {
          margin: 20px 0;
          color: $lighter-gray;
        }

        .series-info {
          color: $orange;

          strong {
            color: $lighter-gray;
          }
        }
      }

      &:last-child {
        align-items: center;

        div {
          width: 100%;
          margin: 10px;
          border-radius: 5px;
          display: flex;
          align-items: flex-start;
          flex-direction: column;
          background: $light-gray;
          //padding-bottom: 10px;
          box-shadow: $black-shadow;



          a {
            width: 100%;
            text-align: center;
            color: white;
            background: $orange;
            padding: 15px 0;
            font-weight: bold;
            font-size: 24px;
            border-radius: 5px 5px 0 0;
          }

          span, a {
            cursor: pointer;
          }

          span {
            &.isInWatchlist {
              color: $orange;
            }
            &:hover {
              background: $lighter-gray;
            }

            padding: 10px 0;
            width: 100%;
            border-bottom: solid $dd-more-bg 1px;
            font-weight: bold;
            &:last-child {
              border-radius: 0 0 5px 5px;
            }

            &.share {
              color: #0084d0;
            }

            i {
              margin-left: 10px;
            }
          }
        }
      }


    }
  }
}