@use "variables" as *;

#stream-main {
  color: white;

  & > div, .stream-season, .stream-banner {
    padding: 20px;
    border-radius: 5px;
  }

  .stream-banner {
    //border-radius: 30px;
    border-radius: 5px;
    position: relative;
    margin: 50px 0 30px 0;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    background: $stream-banner-bg;
    box-shadow: 0 0 60px 0 rgba(30, 30, 30, 1);

    & > div {

      &.background {
        background-position: center;
        background-size: cover;
        position: absolute;
        z-index: -1;
        margin: 0;

        &.first {
          left: 10px;
          top: 10px;
          bottom: 10px;
          right: 10px;
          filter: blur(8px) saturate(200%);
        }

        &:last-child {
          background: #520000;
          filter: blur(300px) saturate(200%);
          left: 0;
          top: 0;
          bottom: 0;
          right: 0;
        }
      }


      margin: 10px;
      display: flex;
      flex-direction: column;

      &:first-child {
        align-items: center;

        img {
          height: 300px;
          width: 200px;
          border-radius: 5px;
          box-shadow: $black-shadow-2;

        }

      }

      &:nth-child(2) {
        display: grid;
        grid-template-rows: 1fr 3fr 2fr;
        box-shadow: $black-shadow-2;
        border-radius: 5px;
        padding: 20px;
        background: $stream-banner-bg;
        align-items: flex-start;


        .series-title {
          font-size: 24px;
        }

        .series-desc {
          margin: 20px 0;
          color: $lightest-gray;
        }

        .series-info-parent {
          display: flex;
          flex-direction: column;
          align-self: flex-end;

          .series-info {
            color: $color;
            //font-weight: bold;

            strong {
              //font-weight: normal;
              color: $lightest-gray;
            }
          }
        }
      }

      &:nth-child(3) {
        align-items: center;
        transition: $trans;

        div {
          box-shadow: $black-shadow-2;

          width: 100%;
          margin: 0 10px 10px;
          border-radius: 5px;
          display: flex;
          align-items: flex-start;
          flex-direction: column;


          a:first-child {
            width: 100%;
            text-align: center;
            color: white;
            background: $color;
            padding: 15px 0;
            font-weight: bold;
            font-size: 24px;
            border-radius: 5px 5px 0 0;

            &:hover {
              background: $color-blur;
            }
          }

          span, a {
            cursor: pointer;
            transition: $trans;
          }

          span, a {
            color: white;
            i {
              margin: 0 5px;
            }

            &.isInWatchlist {
              i {
                color: $color;
              }
            }

            background: $stream-banner-bg;

            &:hover {
              background: $white-blur;
              //box-shadow: $black-shadow-inset;
            }

            padding: 10px 0;
            width: 100%;
            font-weight: bold;

            &:nth-child(2) {
              border-bottom: solid $white-blur 1px;
            }

            &:last-child {
              border-radius: 0 0 5px 5px;
            }

            &.share {
              i {
                color: $blue;
              }
            }

            i {
              margin-left: 10px;
            }
          }
        }
      }
    }
  }

  .stream-media {
    padding: 50px;
    background: $stream-banner-bg;
    margin-bottom: 200px;
    display: flex;
    flex-direction: column;

    #media-player {
      width: 100%;
      background: black;
      border-radius: 5px 5px 0 0;
      aspect-ratio: 16/9;
    }

    div {
      width: 100%;
      display: flex;

      span {
        background: $blue;
        width: 100%;
        font-size: 14px;
        padding: 2px 4px;
        border-radius: 0 0 5px 5px;
      }
    }
  }

  .stream-select {
    #location {
      display: flex;
      align-items: center;
      font-size: 18px;
      margin-bottom: 10px;

      strong {
        color: $lighter-gray;
        font-weight: bold !important;
        font-size: 14px;
      }

      .location-el {
        color: white;

        &:hover {
          color: $color;
        }

        &:last-child {
          color: $color;

          &:hover {
            color: white;
          }
        }
      }
    }

    .select {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .episode, .season {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin: 5px;

        .select-el {
          font-size: 20px;
          height: 30px;
          color: black;
          background: white;
          padding: 5px;
          display: flex;
          align-items: center;
          justify-content: center;

          &.watched {
            background: $blue;
            color: white;

            &:hover {
              background: $darker-blue !important;
              color: white;

              &.current {
                background: $color !important;
                color: white !important;
              }
            }

          }

          &.current {
            background: $color;
            color: white;
          }


          &.select-title {
            font-weight: bold;
          }

          &.select-select {
            aspect-ratio: 1/1;

            &:hover {
              background: $color;
              color: white;
            }
          }
        }
      }
    }

    #series-title {
      font-size: 20px;
      margin-top: 20px;
    }

    #episode-title {
      font-size: 36px;
      color: $lighter-gray;
    }
  }

  .stream-season {
    margin-bottom: 200px;
    color: white;

    & > a {
      display: grid;
      grid-template-columns: 1fr 1fr 4fr 4fr 1fr 1fr;
      padding: 15px;
      background: $stream-banner-bg-blur;

      &:hover {
        background: $white-blur;
      }

      span {
        display: flex;
        align-items: center;
        color: white;
      }

      i {
        scale: 1.3;
        text-align: center;
      }

      i:hover {
        cursor: pointer;
      }


      &:first-child {
        border-radius: 5px 5px 0 0;
        font-weight: bold;
        background: $header-bg-blur;
        //background: $stream-banner-bg;
      }

      &:last-child {
        border-radius: 0 0 5px 5px;

      }

      &.watched-episode {
        background: $blue-hover;

        i {
          color: $blue;
        }

        &:hover {
          background: $darker-blue-blur !important;
        }
      }
    }
  }
}
