$main-bg: rgb(17, 17, 17);
$dd-padding: 3vw;
$dd-width: 100vw - (2 * $dd-padding);
$dd-el-padding: 0.6em;
$dd-el-width: $dd-width - (2 * $dd-padding);
$footer-height: 300px;
$footer-bg: rgb(28, 28, 28);
$header-height: 70px;
$orange: rgb(255, 100, 16);
$logo-size: 40px;
$width: 60%;
$header-bg: rgb(28, 28, 28);
$hover-orange: #f8cb80;
$user-pp-size: 40px;
$dd-more-bg: rgb(24, 24, 24);
$light-gray: rgb(55, 55, 55);
$trans: all .4s ease-in-out;
$cat-title-size: 22px;
$eye-catcher-margin: 5px;
$eye-catcher-margin-1400: 10px;
$eye-catcher-margin-1080: 20px;
$eye-catcher-height: 156px;
$eye-catcher-height-1400: 230px;
$eye-catcher-height-1080: 410px;
$lighter-gray: #636363;
$black-shadow: 0px 0px 10px 1px rgba(10, 10, 10, 0.36);
$orange-shadow: 0px 0px 10px 1px rgba(255, 100, 16, 0.25);
$blue: #0084d0;
$darker-blue: #006096;
$blue-hover: rgba(0, 132, 208, 0.62);


#stream-main {
  color: white;

  & > div, .stream-season {
    padding: 20px;
    border-radius: 5px;
  }

  .stream-banner {
    margin: 50px 0 30px 0;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    background: $header-bg;

    & > div {
      margin: 10px;
      display: flex;
      flex-direction: column;

      &:first-child {
        align-items: center;

        img {
          height: 300px;
          width: 200px;
          border-radius: 5px;
          box-shadow: $black-shadow;
        }

      }

      &:nth-child(2) {
        align-items: flex-start;

        .series-title {
          font-size: 24px;
        }

        .series-desc {
          margin: 20px 0;
          color: $lighter-gray;
        }

        .series-info {
          color: $orange;

          strong {
            color: $lighter-gray;
          }
        }
      }

      &:last-child {
        align-items: center;

        div {
          width: 100%;
          margin: 10px;
          border-radius: 5px;
          display: flex;
          align-items: flex-start;
          flex-direction: column;
          background: $light-gray;
          //padding-bottom: 10px;
          box-shadow: $black-shadow;


          a {
            width: 100%;
            text-align: center;
            color: white;
            background: $orange;
            padding: 15px 0;
            font-weight: bold;
            font-size: 24px;
            border-radius: 5px 5px 0 0;
          }

          span, a {
            cursor: pointer;
          }

          span {
            &.isInWatchlist {
              color: $orange;
            }

            &:hover {
              background: $lighter-gray;
            }

            padding: 10px 0;
            width: 100%;
            border-bottom: solid $dd-more-bg 1px;
            font-weight: bold;

            &:last-child {
              border-radius: 0 0 5px 5px;
            }

            &.share {
              color: $blue;
            }

            i {
              margin-left: 10px;
            }
          }
        }
      }


    }
  }

  .stream-media {
    padding: 50px;
    background: $header-bg;
    margin-bottom: 200px;
    display: flex;
    flex-direction: column;

    #media-player {
      width: 100%;
      background: black;
      border-radius: 5px 5px 0 0;
      aspect-ratio: 16/10;
    }

    div {
      width: 100%;
      display: flex;

      span {
        background: $blue;
        width: 100%;
        font-size: 14px;
        padding: 2px 4px;
        border-radius: 0 0 5px 5px;
      }
    }
  }

  .stream-select {
    #location {
      display: flex;
      align-items: center;
      font-size: 18px;
      margin-bottom: 10px;

      strong {
        color: $lighter-gray;
        font-weight: bold !important;
        font-size: 14px;
      }

      .location-el {
        color: white;

        &:hover {
          color: $orange;
        }

        &:last-child {
          color: $orange;

          &:hover {
            color: white;
          }
        }
      }
    }

    .select {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .episode, .season {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin: 5px;

        .select-el {
          font-size: 20px;
          height: 30px;
          color: black;
          background: white;
          padding: 5px;
          display: flex;
          align-items: center;
          justify-content: center;

          &.watched {
            background: $blue;
            color: white;

            &:hover {
              background: $darker-blue !important;
              color: white;

              &.current {
                background: $orange !important;
                color: white !important;
              }
            }

          }

          &.current {
            background: $orange;
            color: white;
          }


          &.select-title {
            font-weight: bold;
          }

          &.select-select {
            aspect-ratio: 1/1;

            &:hover {
              background: $orange;
              color: white;
            }
          }
        }
      }
    }

    #series-title {
      font-size: 20px;
      margin-top: 20px;
    }

    #episode-title {
      font-size: 36px;
    }
  }

  .stream-season {
    margin-bottom: 200px;
    color: white;

    & > a {
      display: grid;
      grid-template-columns: 1fr 1fr 4fr 4fr 1fr 1fr;
      padding: 15px;
      background: $light-gray;;

      &:hover {
        background: $header-bg;
      }

      span {
        display: flex;
        align-items: center;
        color: white;
      }

      i {
        scale: 1.3;
        text-align: center;
      }

      i:hover {
        cursor: pointer;
      }


      &:first-child {
        border-radius: 5px 5px 0 0;
        font-weight: bold;
        background: $header-bg;
      }

      &:last-child {
        border-radius: 0 0 5px 5px;

      }

      &.watched-episode {
        background: $blue-hover;

        i {
          color: $blue;
        }

        &:hover {
          background: $darker-blue !important;
        }
      }
    }
  }
}
