<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Template</title>
    <link href="/dist/css/main.css" rel="stylesheet" type="text/css">
</head>
<body>
    <header>
        <div class="logo">
            <a href="/" class="logo-1">Streaming</a>
            <a href="/" class="logo-2">Site</a>
<nav>
    <a href="#"><i class="gg-play-button-o"></i>&nbsp;Series</a>
    <a href="#"><i class="gg-align-bottom"></i> Popular </a>
    <a href="#">Search</a>
    <a href="#" class="nav-more">more</a>
</nav>
        </div>
        <div class="user">
            <img src="/dist/img/testpp.jpg" id="user-pp"/>
            <div id="user-name">Username<i class="down-arrow"></i></div>
        </div>
    </header>
    <main>

    </main>

    <footer>

    </footer>
</body>
</html>