<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Template</title>
    <link href="/dist/css/main.css" rel="stylesheet" type="text/css">
</head>
<body>
<header>
    <div class="logo">
        <a href="/" class="logo-1" title="StreamingSite">Streaming</a>
        <a href="/" class="logo-2" title="StreamingSite">Site</a>
        <nav>
            <a href="#" title="All series and films on this website"><i class="gg-play-button-o"></i>&nbsp;Series</a>
            <a href="#" title="This is popular right now"><i class="gg-align-bottom"></i>&nbsp;Popular</a>
            <a href="#" title="Search for series and films"><i class="gg-search"></i>&nbsp;Search</a>
            <a href="#" class="nav-more" title="There is more here">more</a>
        </nav>

    </div>
    <div class="user">
        <img src="/dist/img/testpp.jpg" id="user-pp" alt="user-pp"/>
        <div id="user-name" class="tooltip">Username<i class="down-arrow"></i>
            <div class="tooltiptext">
                <a class="user-dd-el">
                    <div class="user-dd-icon">
                        <i class="gg-format-justify"></i>
                    </div>
                    <span class="user-dd-name">Account</span>
                </a>  <a class="user-dd-el">
                    <div class="user-dd-icon">
                        <i class="gg-user"></i>
                    </div>
                    <span class="user-dd-name">Profile</span>
                </a>  <a class="user-dd-el">
                    <div class="user-dd-icon">
                        <i class="gg-eye-alt"></i>
                    </div>
                    <span class="user-dd-name">Watchlist</span>
                </a>  <a class="user-dd-el">
                    <div class="user-dd-icon">
                        <i class="gg-list-tree"></i>
                    </div>
                    <span class="user-dd-name">Settings</span>
                </a><a class="user-dd-el">
                    <div class="user-dd-icon">
                        <i class="gg-log-in"></i>
                    </div>
                    <span class="user-dd-name">Logout</span>
                </a>

            </div>
        </div>
    </div>
    <section class="top-nav">
        <input id="menu-toggle" type="checkbox" />
        <label class='menu-button-container' for="menu-toggle">
            <div class='menu-button'></div>
        </label>
        <ul class="menu">
            <li><a href=""><i class="gg-play-button-o"></i>&nbsp;Series</a></li>
            <li><a href=""><i class="gg-align-bottom"></i>&nbsp;Popular</a></li>
            <li><a href=""><i class="gg-search"></i>&nbsp;Search</a></li>
            <li><a href=""></a></li>
        </ul>
    </section>
</header>
<main>
    <div class="quick-search">
        <div class="quick-search-el"><a href="">A</a></div>
        <div class="quick-search-el"><a href="">B</a></div>
        <div class="quick-search-el"><a href="">C</a></div>
        <div class="quick-search-el"><a href="">D</a></div>
        <div class="quick-search-el"><a href="">E</a></div>
        <div class="quick-search-el"><a href="">F</a></div>
        <div class="quick-search-el"><a href="">G</a></div>
        <div class="quick-search-el"><a href="">H</a></div>
        <div class="quick-search-el"><a href="">I</a></div>
        <div class="quick-search-el"><a href="">J</a></div>
        <div class="quick-search-el"><a href="">K</a></div>
        <div class="quick-search-el"><a href="">L</a></div>
        <div class="quick-search-el"><a href="">M</a></div>
        <div class="quick-search-el"><a href="">N</a></div>
        <div class="quick-search-el"><a href="">O</a></div>
        <div class="quick-search-el"><a href="">P</a></div>
        <div class="quick-search-el"><a href="">Q</a></div>
        <div class="quick-search-el"><a href="">R</a></div>
        <div class="quick-search-el"><a href="">S</a></div>
        <div class="quick-search-el"><a href="">T</a></div>
        <div class="quick-search-el"><a href="">U</a></div>
        <div class="quick-search-el"><a href="">V</a></div>
        <div class="quick-search-el"><a href="">W</a></div>
        <div class="quick-search-el"><a href="">X</a></div>
        <div class="quick-search-el"><a href="">Y</a></div>
        <div class="quick-search-el"><a href="">Z</a></div>
        <div class="quick-search-el"><a href="">#</a></div>
    </div>
</main>

<footer>

</footer>
</body>
</html>