* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
    font-size: 16px;
}
body {
    margin: 0;
    padding: 15px;
    background-color: #63a7df;
}
.upload-form {
    display: flex;
    max-width: 350px;
    padding: 20px;
    flex-flow: column;
    margin: 100px auto 15px auto;
    background-color: #fff;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
}
.upload-form h1 {
    margin: 0;
    padding: 15px;
    font-size: 18px;
    font-weight: 500;
    color: #434850;
    text-align: center;
}
.upload-form label {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: #fafbfb;
    border: 1px solid #e6e8ec;
    color: #737476;
    padding: 10px 12px;
    font-weight: 500;
    font-size: 14px;
    margin: 10px 0;
    border-radius: 4px;
    cursor: pointer;
}
.upload-form label i {
    margin-right: 10px;
    padding: 5px 0;
    color: #dbdce0;
}
.upload-form label span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    word-break: break-all;
}
.upload-form label:hover {
    background-color: #f7f8f9;
    border: 1px solid #e3e5ea;
    color: #68686a;
}
.upload-form label:hover i {
    color: #cfd1d4;
}
.upload-form input[type="file"] {
    appearance: none;
    visibility: hidden;
    height: 0;
    width: 0;
    padding: 0;
    margin: 0;
}
.upload-form .progress {
    height: 20px;
    border-radius: 4px;
    margin: 10px 0;
    background-color: #e6e8ec;
}
.upload-form button {
    appearance: none;
    background-color: #be5a41;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    border: 0;
    padding: 10px 12px;
    margin-top: 10px;
    color: #fff;
    cursor: pointer;
}
.upload-form button:hover {
    background-color: #b6563e;
}
.upload-form button:disabled {
    background-color: #aca7a5;
}
.upload-form .result {
    padding-top: 15px;
}