<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /



# Unwanted Scum
#RewriteCond %{HTTP_USER_AGENT} ^Anarchie [OR]
#RewriteCond %{HTTP_USER_AGENT} ^ASPSeek [OR]
#RewriteCond %{HTTP_USER_AGENT} ^attach [OR]
#RewriteCond %{HTTP_USER_AGENT} ^autoemailspider [OR]
#RewriteCond %{HTTP_USER_AGENT} ^.*AppleWebKit [OR]
#RewriteCond %{HTTP_USER_AGENT} ^Xaldon\ WebSpider [OR]
#RewriteCond %{HTTP_USER_AGENT} ^Xenu [OR]
#RewriteCond %{HTTP_USER_AGENT} ^Zeus.*Webster [OR]
#RewriteCond %{HTTP_USER_AGENT} ^Zeus
#RewriteCond %{ENV:is_safari} ^1$
#RewriteRule ^.*$ /error/418.php [L]

#RewriteRule ^.*$ http://youtube.com.com/ [L]


RewriteRule ^stream\/[a-z\-]{0,100}\/season\-[0-9]{0,3}\/episode\-[0-9]{0,3}\/?$ stream/episode.php [L]


RewriteRule ^stream\/[a-z\-]{0,100}\/season\-[0-9]{0,3}\/?$ stream/season.php [L]


RewriteRule ^stream\/[a-z\-]{0,100}\/?$ stream/season.php [L]


RewriteRule ^stream\/?$ /index.php [L]

ErrorDocument 403 /error/403.php

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /error/404.php [R=404,L]

</IfModule>

Options -Indexes