<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /

RewriteRule ^.*$ http://youtube.com.com/ [L]

RewriteRule ^stream\/[a-z\-]{0,100}\/season\-[0-9]{0,3}\/episode\-[0-9]{0,3}\/?$ stream/episode.php [L]


RewriteRule ^stream\/[a-z\-]{0,100}\/season\-[0-9]{0,3}\/?$ stream/season.php [L]


RewriteRule ^stream\/[a-z\-]{0,100}\/?$ stream/season.php [L]


RewriteRule ^stream\/?$ /index.php [L]

ErrorDocument 403 /error/403.php

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /error/404.php [L]

</IfModule>

Options -Indexes